@import
 url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'
);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
 {
  
font-family
: 
'Poppins'
, sans-serif;
}

.container{
    background-image: url(./../../Asset/chair1.png);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.content{
    background: #FFF3E3;
    line-height: 10vh;
}

.text-h{
    color: #B88E2F;
}

.button{
    background:  #B88E2F;
}

.button button p{
    text-align: center;
}

.add{
    background:#B88E2F;
    color: #FFFFFF;
}

.show-room{
    border: 2px solid #B88E2F;
    color: #B88E2F;
}

.add-cart:hover{
    opacity: 0.50;
}

.product::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .product {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }